<div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="pu240"><!-- group -->
     <div class="browser_width grpelem" id="u240-bw">
      <div class="museBGSize" id="u240"><!-- simple frame --></div>
     </div>
     <!-- m_editable region-id="editable-static-tag-U595-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u595" data-muse-uid="U595" data-muse-type="img_frame"><!-- image -->
      <a href="/"><img class="block" id="u595_img" src="/assets/logo-interiordelab.png" alt="" width="300" height="134" data-muse-src="/assets/logo-interiordelab.png"/></a>
     </div>
     <!-- /m_editable -->
    </div>
    <img class="colelem" id="u280-4" alt="BIENVENIDOS" width="960" height="50" src="/assets/u280-4.png"/><!-- rasterized frame -->
    <div class="clearfix colelem" id="pu281-6"><!-- group -->
     <!-- m_editable region-id="editable-static-tag-U281-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="subhead-serif clearfix grpelem" id="u281-6" data-muse-uid="U281" data-muse-type="txt_frame"><!-- content -->
      <h3>Laboratorio Digital</h3>
      <h3>Centro de Fresado</h3>
     </div>
     <!-- /m_editable -->
     <div class="clearfix grpelem" id="u705"><!-- group -->
      <div class="clearfix grpelem" id="u706"><!-- group -->
       <div class="grpelem" id="u707"><!-- simple frame --></div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u973"><!-- group -->
      <div class="clearfix grpelem" id="u974"><!-- group -->
       <div class="grpelem" id="u975"><!-- simple frame --></div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u964"><!-- group -->
      <div class="clearfix grpelem" id="u965"><!-- group -->
       <div class="grpelem" id="u966"><!-- simple frame --></div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u982"><!-- group -->
      <div class="clearfix grpelem" id="u983"><!-- group -->
       <div class="grpelem" id="u984"><!-- simple frame --></div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu670"><!-- group -->
     <div class="clearfix grpelem" id="pu670"><!-- column -->
      <!-- m_editable region-id="editable-static-tag-U670-BP_infinity" template="index.html" data-type="image" -->
      <div class="clip_frame colelem" id="u670" data-muse-uid="U670" data-muse-type="img_frame"><!-- image -->
       <a href="https://www.facebook.com/Delab-600520116776085/"><img class="block" id="u670_img" src="/assets/4.jpg" alt="" width="258" height="258" data-muse-src="/assets/4.jpg"/></a>
      </div>
      <!-- /m_editable -->
      <img class="colelem" id="u881-6" alt="quinto paso Ofertas, casos y toda en informacion en nuestras redes sociales." width="258" height="127" src="/assets/u881-6.png"/><!-- rasterized frame -->
      <!-- m_editable region-id="editable-static-tag-U871-BP_infinity" template="index.html" data-type="image" -->
      <div class="clip_frame colelem" id="u871" data-muse-uid="U871" data-muse-type="img_frame"><!-- image -->
       <a href="#"><img class="block" id="u871_img" src="/assets/5.jpg" alt="" width="258" height="258" data-muse-src="/assets/5.jpg"/></a>
      </div>
      <!-- /m_editable -->
     </div>
     <!-- m_editable region-id="editable-static-tag-U640-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u640" data-muse-uid="U640" data-muse-type="img_frame"><!-- image -->
      <a href="http://app.delab.cl/signup"><img class="block" id="u640_img" src="/assets/1.jpg" alt="" width="258" height="258" data-muse-src="/assets/1.jpg"/></a>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U650-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u650" data-muse-uid="U650" data-muse-type="img_frame"><!-- image -->
      <a href="http://app.delab.cl/pedidos/new"><img class="block" id="u650_img" src="/assets/2.jpg" alt="" width="258" height="258" data-muse-src="/assets/2.jpg"/></a>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U660-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u660" data-muse-uid="U660" data-muse-type="img_frame"><!-- image -->
      <a href="http://app.delab.cl/activos"><img class="block" id="u660_img" src="/assets/3.jpg" alt="" width="258" height="258" data-muse-src="/assets/3.jpg"/></a>
     </div>
     <!-- /m_editable -->
     <img class="grpelem" id="u727-6" alt="primer paso Ingresa tus datos , completa los items indicados ." width="340" height="127" src="/assets/u727-6.png"/><!-- rasterized frame -->
     <img class="grpelem" id="u865-6" alt="tercer paso Puedes ver tus ordenes online. y saber el estado de tu pedido." width="258" height="127" src="/assets/u865-6.png"/><!-- rasterized frame -->
    </div>
    <div class="clearfix colelem" id="pu862-6"><!-- group -->
     <img class="grpelem" id="u862-6" alt="segundo paso Adjunta tus documentos, examenes, imagenes y documentos necesarios para nuestro laboratorio." width="340" height="127" src="/assets/u862-6.png"/><!-- rasterized frame -->
     <!-- m_editable region-id="editable-static-tag-U810-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u810" data-muse-uid="U810" data-muse-type="img_frame"><!-- image -->
      <img class="block" id="u810_img" src="/assets/separador.png" alt="" width="182" height="60" data-muse-src="/assets/separador.png"/>
     </div>
     <!-- /m_editable -->
     <img class="grpelem" id="u884-6" alt="cuarto paso Recibiras en tus direcciones el pedido y puedes calificar el servicio en nuestra web." width="258" height="127" src="/assets/u884-6.png"/><!-- rasterized frame -->
    </div>
    <div class="clearfix colelem" id="pu717"><!-- group -->
     <!-- m_editable region-id="editable-static-tag-U717-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u717" data-muse-uid="U717" data-muse-type="img_frame"><!-- image -->
      <img class="block" id="u717_img" src="/assets/1ab.jpg" alt="" width="292" height="292" data-muse-src="/assets/1ab.jpg"/>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U748-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u748" data-muse-uid="U748" data-muse-type="img_frame"><!-- image -->
      <img class="block" id="u748_img" src="/assets/2ba.jpg" alt="" width="292" height="292" data-muse-src="/assets/2ba.jpg"/>
     </div>
     <!-- /m_editable -->
    </div>
    <div class="clearfix colelem" id="pu1004"><!-- group -->
     <div class="museBGSize grpelem" id="u1004"><!-- simple frame -->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="/assets/nuestrosservicios.png" align="middle" /></a>
     </div>
     <div class="museBGSize grpelem" id="u1015"><!-- simple frame -->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="/assets/recomendacionesclinicas.png" align="middle" /></a>
     </div>
    </div>
    <div class="clearfix colelem" id="pu852-4"><!-- group -->
     <!-- m_editable region-id="editable-static-tag-U852-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u852-4" data-muse-uid="U852" data-muse-type="txt_frame"><!-- content -->
      <h2 class="subhead" id="u852-2">Nos especializamos en tecnología CAD CAM y el desarrollo de restauraciones en prótesis fija, sea esta sobre dientes o implantes.</h2>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U859-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u859-4" data-muse-uid="U859" data-muse-type="txt_frame"><!-- content -->
      <h2 class="subhead" id="u859-2">Presentamos diferentes casos clinicos&nbsp; para nuestros usuarios</h2>
     </div>
     <!-- /m_editable -->
    </div>
    <!-- m_editable region-id="editable-static-tag-U782-BP_infinity" template="index.html" data-type="image" -->
    <div class="clip_frame colelem" id="u782" data-muse-uid="U782" data-muse-type="img_frame"><!-- image -->
     <img class="block" id="u782_img" src="/assets/separador.png" alt="" width="182" height="60" data-muse-src="/assets/separador.png"/>
    </div>
    <!-- /m_editable -->
    <div class="browser_width colelem" id="u792-bw">
     <div class="museBGSize" id="u792"><!-- column -->
      <div class="clearfix" id="u792_align_to_page">
       <!-- m_editable region-id="editable-static-tag-U826-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <div class="heading clearfix colelem" id="u826-4" data-muse-uid="U826" data-muse-type="txt_frame"><!-- content -->
        <h1>CONTACTO</h1>
       </div>
       <!-- /m_editable -->
       <div class="museBGSize colelem" id="u1036"><!-- simple frame --></div>
       <div class="museBGSize colelem" id="u933"><!-- simple frame --></div>
      </div>
     </div>
    </div>
    <div class="verticalspacer" data-offset-top="2252" data-content-above-spacer="2252" data-content-below-spacer="101"></div>
    <div class="browser_width colelem" id="u124-bw">
     <div id="u124"><!-- group -->
      <div class="clearfix" id="u124_align_to_page">
       <div class="grpelem" id="u142"><!-- simple frame --></div>
       <div class="grpelem" id="u144"><!-- simple frame --></div>
       <div class="museBGSize grpelem" id="u629"><!-- simple frame --></div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- Other scripts -->
  <script type="text/javascript">
   window.Muse.assets.check=function(d){if(!window.Muse.assets.checked){window.Muse.assets.checked=!0;var b={},c=function(a,b){if(window.getComputedStyle){var c=window.getComputedStyle(a,null);return c&&c.getPropertyValue(b)||c&&c[b]||""}if(document.documentElement.currentStyle)return(c=a.currentStyle)&&c[b]||a.style&&a.style[b]||"";return""},a=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),
16);return 0},g=function(g){for(var f=document.getElementsByTagName("link"),i=0;i<f.length;i++)if("text/css"==f[i].type){var h=(f[i].href||"").match(/\/?css\/([\w\-]+\.css)\?crc=(\d+)/);if(!h||!h[1]||!h[2])break;b[h[1]]=h[2]}f=document.createElement("div");f.className="version";f.style.cssText="display:none; width:1px; height:1px;";document.getElementsByTagName("body")[0].appendChild(f);for(i=0;i<Muse.assets.required.length;){var h=Muse.assets.required[i],l=h.match(/([\w\-\.]+)\.(\w+)$/),k=l&&l[1]?
l[1]:null,l=l&&l[2]?l[2]:null;switch(l.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");f.className+=" "+k;k=a(c(f,"color"));l=a(c(f,"backgroundColor"));k!=0||l!=0?(Muse.assets.required.splice(i,1),"undefined"!=typeof b[h]&&(k!=b[h]>>>24||l!=(b[h]&16777215))&&Muse.assets.outOfDate.push(h)):i++;f.className="version";break;case "js":k.match(/^jquery-[\d\.]+/gi)&&d&&d().jquery=="1.8.3"?Muse.assets.required.splice(i,1):i++;break;default:throw Error("Unsupported file type: "+
l);}}f.parentNode.removeChild(f);if(Muse.assets.outOfDate.length||Muse.assets.required.length)f="Puede que determinados archivos falten en el servidor o sean incorrectos. Limpie la cache del navegador e inténtelo de nuevo. Si el problema persiste, póngase en contacto con el administrador del sitio web.",g&&Muse.assets.outOfDate.length&&(f+="\nOut of date: "+Muse.assets.outOfDate.join(",")),g&&Muse.assets.required.length&&(f+="\nMissing: "+Muse.assets.required.join(",")),alert(f)};location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi)?setTimeout(function(){g(!0)},5E3):g()}};
var muse_init=function(){require.config({baseUrl:""});require(["jquery","museutils","whatinput","jquery.musepolyfill.bgsize","jquery.watch"],function(d){var $ = d;$(document).ready(function(){try{
window.Muse.assets.check($);/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.resizeHeight('.browser_width');/* resize height */
Muse.Utils.requestAnimationFrame(function() { $('body').addClass('initialized'); });/* mark body as initialized */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
}catch(b){if(b&&"function"==typeof b.notify?b.notify():Muse.Assert.fail("Error calling selector function: "+b),false)throw b;}})})};

</script>
  <!-- RequireJS script -->
  <script src="scripts/require.js?crc=4108833657" type="text/javascript" async data-main="scripts/museconfig.js?crc=169177150" onload="if (requirejs) requirejs.onError = function(requireType, requireModule) { if (requireType && requireType.toString && requireType.toString().indexOf && 0 <= requireType.toString().indexOf('#scripterror')) window.Muse.assets.check(); }" onerror="window.Muse.assets.check();"></script>